.blog1{
    margin-top: 20px;
    /* min-height: 200px; */
    min-width: 200px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/organic1.jpg);
    display:flex;

    
}
.h11{
    font-size: 70px;
    text-align: center;
    
}
.organicImg{
    margin-top: 80px;
    
    
    
}

.para1{
    color:rgb(251, 231, 231);
    /* top left bottom right */
    margin: 20px 50px 20px 50px; 
    font-size: large;   
}
.blog2{
    background:url(../images/organic2.jpg)
}
.h12{
    font-size: 70px;
    text-align: center;
    color:rgb(0, 0, 0)
}
.h41{
    color: rgb(7, 67, 7);
    margin-left:50px;
    font-size: 40px;
    
}

.para2,.para3{
    font-size:large;
    margin: 20px 50px 20px 50px;
}
.para3{
    color:rgb(68, 23, 23)
}

/* .blog4{
    display:flex;
    background:linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.5)),url(../images/banner2.jpeg);

    

} */
.blog4{
    margin-top: 20px;
    /* min-height: 200px; */
    min-width: 200px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/banner2.jpeg);
    display:flex;
    background-size:cover;

    
}
.rotationImg{
    margin-top:80px;
    margin-bottom: 80px;
    
}
.cropRotation{
    color:white;
    
    margin-right:30px;
    margin-left:50px;
    margin-top:30px;
    
    
}
.h4{
    margin-top:20px;
    font-size: 50px;
}
/* #im{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
  -webkit-filter: blur(8px);
} */



    




